<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LRXKGS2NM6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LRXKGS2NM6');
</script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Pinball-Calc.com</title>
  </head>
  <body>
    <div id="app">
      <header class="header">
        <div class="logo">
            <a href="{{ url_for('payouts') }}" style="text-decoration: none; color: inherit;">
              <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
              <span class="app-title">Pinball-Calc.com</span>
            </a>
          </div>          
          <div class="hamburger-menu">
            <div>
              <span style="display: block; width: 25px; height: 3px; background-color: white; margin: 4px 0;"></span>
              <span style="display: block; width: 25px; height: 3px; background-color: white; margin: 4px 0;"></span>
              <span style="display: block; width: 25px; height: 3px; background-color: white; margin: 4px 0;"></span>
            </div>
            <nav>
              <ul>
                <li><a href="{{ url_for('payouts') }}">Calculator</a></li>
                <li><a href="{{ url_for('contact_us') }}">Contact Us</a></li>
              </ul>
            </nav>
          </div>          
      </header>
      <main class="content">
        <div class="container">
        <h2>Contact Us</h2>
        <p>For any questions, suggestions, or feedback, please email us at:</p>
        <p><a href="mailto:pinballcalc@gmail.com">pinballcalc@gmail.com</a></p>
    </div>
      </main>
      <footer class="footer">
        <div class="left">
          <a href="https://next.matchplay.events">Match Play Events</a>
          <a href="https://github.com/tbw875/tournament-helper">GitHub</a>
          <a href="https://twitter.com/tbw875">Twitter</a>
        </div>
        <div class="right">
          <p style="color: white; display: inline-block; margin-right: 10px;">Made with <img src="{{ url_for('static', filename='images/umbrella.png') }}" alt="Umbrella" height="18" width="18" style="vertical-align: middle; margin-left: 0px;"> in Seattle</p>
        </div>
      </footer> 
    </div>
  </body>
</html>