<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Pinball-Calc.com</title>
  </head>
  <body>
    <div id="app">
      <header class="header">
        <div class="logo">
          <a href="{{ url_for('payouts') }}" style="text-decoration: none; color: inherit;">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
            <span class="app-title">Pinball-Calc.com</span>
          </a>
        </div>
        
        <div class="hamburger-menu">
          <div>
            <span style="display: block; width: 25px; height: 3px; background-color: white; margin: 4px 0;"></span>
            <span style="display: block; width: 25px; height: 3px; background-color: white; margin: 4px 0;"></span>
            <span style="display: block; width: 25px; height: 3px; background-color: white; margin: 4px 0;"></span>
          </div>
          <nav>
            <ul>
              <li><a href="{{ url_for('payouts') }}">Calculator</a></li>
              <li><a href="{{ url_for('contact_us') }}">Contact Us</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main class="content">
        <div class="container">
            <div class="main">
                <form method="post">
                    Number of players: <input type="text" name="num_players" /><br />
                    Buy-in amount: <input type="text" name="buy_in" value="5"/><br />
                    Pot Splash: <input type="text" name="pot_splash" value="0" /><br />
                    <input type="submit" value="Submit" /><br />
                </form>
                <div class="instructions">
                    <h1>Welcome to PinCalc!</h1>
                    <p>Follow these simple steps to calculate the payouts for your tournament:</p>
                    <ol>
                        <li>Enter the number of players.</li>
                        <li>Enter the buy-in amount.</li>
                        <li>Enter the pot splash.</li>
                        <li>Click "Submit" to see the payout results.</li>
                    </ol>
                </div>
            </div>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            {% if payouts %}
            <h3 style="color:#1D3557">Total prize pool: ${{ prize_pool }}</h3>
            <p>Total # players: {{ num_players }}</p>
            <p>Buy-in amount: ${{ buy_in }}</p>
            <p>Pot splash: ${{ pot_splash }}</p>
            <br/>
            <div class="payout-section">
            <h1>Payouts</h1>
            <div>Divide the payout into 4 prizes, where the 4th place gets their buy-in back,</div>
            <div>and the 1st through 3rd places get 50%, 30%, and 15% respectively.</div>
            <br/>
            <table class="payout-table">
                <tr>
                    <th>Place</th>
                    <th>Amount</th>
                </tr>
                {% for key, value in payouts.items() %}
                <tr>
                    <td class="payout-place">{{ key }}</td>
                    <td class="payout-amount">${{ value }}</td>
                </tr>
                {% endfor %}
            </table>
          </div>
            {% endif %}
        </div>
      </main>
      <footer class="footer">
        <div class="left">
          <a href="https://next.matchplay.events">Match Play Events</a>
          <a href="https://github.com/tbw875/tournament-helper">GitHub</a>
          <a href="https://twitter.com/tbw875">Twitter</a>
        </div>
        <div class="right">
          <p style="color: white; display: inline-block; margin-right: 10px;">Made with <img src="{{ url_for('static', filename='images/umbrella.png') }}" alt="Umbrella" height="18" width="18" style="vertical-align: middle; margin-left: 0px;"> in Seattle</p>
        </div>
      </footer>      
    </div>
    <script>
        const hamburgerMenu = document.querySelector(".hamburger-menu");
        const contactUsLink = document.querySelector(".contact-us-link");
    
        hamburgerMenu.addEventListener("click", () => {
            contactUsLink.style.display = contactUsLink.style.display === "none" ? "block" : "none";
        });
    </script>
    </body>
    </html>