<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Payouts</title>
  </head>
  <body>
    <form method="post">
      Number of players: <input type="text" name="num_players" /><br />
      Buy-in amount: <input type="text" name="buy_in" /><br />
      Pot Splash: <input type="text" name="pot_splash" /><br />
      <input type="submit" value="Submit" /><br />
    </form>
    {% if payouts %}
    <h3>Total prize pool: ${{ prize_pool }}</h2>
    <h4>Total # players: {{ num_players }}</h4>
    <h4>Buy-in amount: ${{ buy_in }}</h4>
    <h4>Pot splash: ${{ pot_splash }}</h4>
    <br/>
    <h3>Payouts</h3>
    <div>Divide the payout into 4 prizes, where the 4th place gets their buy-in back,</div>
    <div>and the 1st through 3rd places get 50%, 30%, and 15% respectively.</div>
    <br/>
      <table class="payout-table">
        <tr>
            <th>Place</th>
            <th>Amount</th>
        </tr>
        {% for key, value in payouts.items() %}
        <tr>
            <td class="payout-place">{{ key }}</td>
            <td class="payout-amount">${{ value }}</td>
        </tr>
        {% endfor %}
    </table>
    
{% endif %}

  </body>
</html>
